In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_excel('Superstore Dataset.xlsx')

# Display the first few rows of the dataframe
print(df.head())

# Basic information about the dataset
print(df.info())

# Summary statistics for numerical features
print(df.describe())

# Check for missing values
print(df.isnull().sum())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  US-2019-103800 2019-01-03 2019-01-07  Standard Class    DP-13000
1       2  US-2019-112326 2019-01-04 2019-01-08  Standard Class    PO-19195
2       3  US-2019-112326 2019-01-04 2019-01-08  Standard Class    PO-19195
3       4  US-2019-112326 2019-01-04 2019-01-08  Standard Class    PO-19195
4       5  US-2019-141817 2019-01-05 2019-01-12  Standard Class    MB-18085

   Customer Name      Segment        Country          City  ... Postal Code  \
0  Darren Powers     Consumer  United States       Houston  ...       77095
1  Phillina Ober  Home Office  United States    Naperville  ...       60540
2  Phillina Ober  Home Office  United States    Naperville  ...       60540
3  Phillina Ober  Home Office  United States    Naperville  ...       60540
4     Mick Brown     Consumer  United States  Philadelphia  ...       19143

    Region       Product ID         Category Sub-Category  \
0  Central  OFF-PA-10000174  Office Supplies        Paper
1  Central  OFF-BI-10004094  Office Supplies      Binders
2  Central  OFF-LA-10003223  Office Supplies       Labels
3  Central  OFF-ST-10002743  Office Supplies      Storage
4     East  OFF-AR-10003478  Office Supplies          Art

                                        Product Name    Sales  Quantity  \
0  Message Book, Wirebound, Four 5 1/2" X 4" Form...   16.448         2
1         GBC Standard Plastic Binding Systems Combs    3.540         2
2                                          Avery 508   11.784         3
3                      SAFCO Boltless Steel Shelving  272.736         3
4  Avery Hi-Liter EverBold Pen Style Fluorescent ...   19.536         3

   Discount   Profit
0       0.2   5.5512
1       0.8  -5.4870
2       0.2   4.2717
3       0.2 -64.7748
4       0.2   4.8840

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32484 entries, 0 to 32483
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         32484 non-null  int64
 1   Order ID       32484 non-null  object
 2   Order Date     32484 non-null  datetime64[ns]
 3   Ship Date      32484 non-null  datetime64[ns]
 4   Ship Mode      32484 non-null  object
 5   Customer ID    32484 non-null  object
 6   Customer Name  32484 non-null  object
 7   Segment        32484 non-null  object
 8   Country        32484 non-null  object
 9   City           32484 non-null  object
 10  State          32484 non-null  object
 11  Postal Code    32482 non-null  object
 12  Region         32484 non-null  object
 13  Product ID     32484 non-null  object
 14  Category       32484 non-null  object
 15  Sub-Category   32484 non-null  object
 16  Product Name   32484 non-null  object
 17  Sales          32484 non-null  float64
 18  Quantity       32484 non-null  int64
 19  Discount       32484 non-null  float64
 20  Profit         32484 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(14)
memory usage: 5.2+ MB
None
             Row ID         Sales      Quantity      Discount        Profit
count  32484.000000  32484.000000  32484.000000  32484.000000  32484.000000
mean   16242.500000    228.444837      3.791405      0.155651     28.709803
std     9377.467409    612.222614      2.228231      0.206491    230.244220
min        1.000000      0.444000      1.000000      0.000000  -6599.978000
25%     8121.750000     17.248000      2.000000      0.000000      1.735200
50%    16242.500000     54.480000      3.000000      0.200000      8.704000
75%    24363.250000    209.700000      5.000000      0.200000     29.525400
max    32484.000000  22638.480000     14.000000      0.800000   8399.976000
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      2
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## Customers with different customer ID

In [12]:
# Display cases where the same name has multiple IDs
name_id_group = df.groupby('Customer Name')['Customer ID'].nunique()
multiple_ids_per_name = name_id_group[name_id_group > 1]

# Display cases where the same ID has multiple names
id_name_group = df.groupby('Customer ID')['Customer Name'].nunique()
multiple_names_per_id = id_name_group[id_name_group > 1]

# Check for typos in names (this step can be more complex depending on available tools)
# Here we just show names that are similar - an actual typo analysis might use fuzzy matching
print("Names with multiple IDs:")
print(multiple_ids_per_name)

print("\nIDs with multiple names:")
print(multiple_names_per_id)

Names with multiple IDs:
Customer Name
Harry Olson    5
Name: Customer ID, dtype: int64

IDs with multiple names:
Series([], Name: Customer Name, dtype: int64)

## Question 1

### Top 10 product on sales and profit

In [42]:
import pandas as pd

# Load the dataset
df = pd.read_excel('Superstore Dataset.xlsx')

# Group data by product ID, summing up sales and profit
product_performance = df.groupby('Product ID').agg({
    'Sales': 'sum', 
    'Profit': 'sum'
}).reset_index()

# Sort the data by sales in descending order to find top products by sales
top_sales_products = product_performance.sort_values(by='Sales', ascending=False).head(10)[['Product ID', 'Sales']]

# Sort the data by profit in descending order to find top products by profit
top_profit_products = product_performance.sort_values(by='Profit', ascending=False).reset_index(drop=True).head(10)[['Product ID', 'Profit']]

# Display the results
print("Top 10 Products by Sales:")
print(top_sales_products)
print("\nTop 10 Products by Profit:")
print(top_profit_products)

Top 10 Products by Sales:
           Product ID        Sales
1614  TEC-CO-10004722  184799.4720
776   OFF-BI-10003527   98120.4280
80    FUR-CH-10002024   70869.0780
1642  TEC-MA-10002412   67915.4400
657   OFF-BI-10000545   62476.4580
691   OFF-BI-10001359   60815.9220
48    FUR-BO-10004834   58549.9308
1604  TEC-CO-10001449   57479.0420
1631  TEC-MA-10001127   55124.6850
845   OFF-BI-10004995   53895.2040

Top 10 Products by Profit:
        Product ID      Profit
0  TEC-CO-10004722  75599.7840
1  OFF-BI-10003527  30757.9580
2  TEC-CO-10001449  21287.6452
3  TEC-CO-10003763  16393.7658
4  TEC-AC-10002049  15102.0642
5  TEC-MA-10000045  13374.1440
6  TEC-MA-10001127  12284.9298
7  TEC-MA-10003979  11318.8383
8  TEC-MA-10001047  11153.9142
9  TEC-AC-10003033  10235.0490

### Top 10 sub- categories on sales and profit

In [35]:
import pandas as pd

# Load the dataset
df = pd.read_excel('Superstore Dataset.xlsx')

# Group data by sub-category, summing up sales and profit
sub_category_performance = df.groupby('Sub-Category').agg({
    'Sales': 'sum', 
    'Profit': 'sum'
}).reset_index()

# Sort the data by sales in descending order to find top sub-categories by sales
top_sales_sub_categories = sub_category_performance.sort_values(by='Sales', ascending=False).head(10)[['Sub-Category', 'Sales']]

# Display the results for sales
print("Top 10 Sub-Categories by Sales:")
print(top_sales_sub_categories)
# Sort the data by profit in descending order to find top sub-categories by profit
top_profit_sub_categories = sub_category_performance.sort_values(by='Profit', ascending=False).head(10)[['Sub-Category', 'Profit']]

# Display the results for profit
print("\nTop 10 Sub-Categories by Profit:")
print(top_profit_sub_categories)

Top 10 Sub-Categories by Sales:
   Sub-Category         Sales
5        Chairs  1.071720e+06
13       Phones  1.062006e+06
14      Storage  7.181810e+05
16       Tables  6.621563e+05
3       Binders  6.555756e+05
11     Machines  5.968524e+05
0   Accessories  5.426649e+05
6       Copiers  4.771981e+05
4     Bookcases  3.841460e+05
1    Appliances  3.471998e+05

Top 10 Sub-Categories by Profit:
   Sub-Category       Profit
6       Copiers  177735.9967
13       Phones  145016.1910
0   Accessories  136007.1823
12        Paper  109646.7533
3       Binders  100670.6353
5        Chairs   87265.6470
14      Storage   67354.5095
1    Appliances   57308.8699
9   Furnishings   43894.4485
7     Envelopes   22900.4167